# Intersymmetric

Intersymmetric is a web-based instrument enabling people from around the world to create beat-based music together in real-time. It leverages a combination of technologies to make an aesthetic low-latency experience which is essential for this kind of applicatoin that is inherently timing critical. The application is split into a backend that manages clients, connections and shared "rooms" and a Svelte frontend that maintains a set of lean interactions with the backend.

## Frontends
The frontend application is built with SvelteKit.

## Backend
The backend is built with Node.js and socket.io

