<svelte:head>
<title> james bradbury | cv </title>
</svelte:head>

# CV
Projects:

Technologies:

Python 3
    - Scipy, numpy, sklearn, audio processing

js
 - svelte
 - 

C++
other
    - Max, SuperCollider,